.main_space {
    max-width: 1900px;
    max-height: 1070px;
}
.name_training {
    width: 1900px;
    height: 1070px;
    background-color: rgb(172, 7, 89);
    color: black;
        
}
.description_training {
    width: 40%;
    height: 1070px;
    position: relative;
    left: 1449px;
    bottom: 1070px;
    background-color: rgb(14, 14, 170);
    color: black;
    clip-path: polygon(52.91% 0.00%,53.70% 0.00%,100.00% 0.00%,100% 100%,0.00% 100%);
    -webkit-box-shadow: -9px 0px 5px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -9px 0px 5px 2px rgba(34, 60, 80, 0.2);
box-shadow: -9px 0px 5px 2px rgba(34, 60, 80, 0.2);
}
.pleer {
    width: 700px;
    height: 700px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    left: 100px;
    top: 100px;
}
.button {
    display: inline-flex;
    background-color: transparent;
    width: 75%;
    justify-content: space-between;
    
}
.active_btn {
    border-radius: 180px;
}

.traning {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 220px;
}

/* Кнопка модального окна*/
.btn-modal {
    cursor: pointer;
    padding: 1rem 3rem;
    color: #fff;
    text-decoration: none;
    background-color: #83bec5;
    transition: all 0.3s ease-out;
  }
  .btn-modal:hover {
    background-color: #527c82;
  }
  
  /* Модальное окно */
  #modal-block { 
    background-color:#527c82;
    color: #fff;
    position: fixed;
    top:0;
    left:100vw;
    width:100vw;
    height: 100vh;
    transition: all .5s;
    z-index: 9;
  
  }
  #modal-block:target{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    left:0;
  }
  
  #modal-block h3{
    margin: 20px 0;
    font-size: 1.7em;
  }
  #modal-block p{
    width: 50%;
    text-align:justify;
  }
    .close-block{
    display: flex;
    position: absolute;
    top: 25%;
    right: 25%;
    padding: .5em;
    background-color: #fff;
    color: #527c82;
    text-decoration: none;
    font-size: 1em;
    box-sizing: border-box;
  }

  .blockSlider {
    display: flex;
    max-width: 768px;
    width: 100%;
    height: 388px;
    border: 1px solid black;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

}

.FullArea {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pointsAreaSize {
    width: 150px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    margin-left: 275px
}

.point {
    display: flex;
    width: 12px;
    height: 12px;
    background: rgb(229, 229, 229);
    border-radius: 100px;
    cursor: pointer;
    
}

.point:hover {
    background: rgb(160, 167, 243);
}

.imagesArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imageSlider {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation-name: Animation;
    animation-duration: 1s;
}

.activeImage {
    background: rgb(115, 126, 250);
    display: flex;
    border-radius: 20px;
}

.btnsAreaSize {
    position: absolute;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

i.fa.fa-angle-left, i.fa.fa-angle-right {
    color: rgb(115, 126, 250);
    font-size: 24px;
    cursor: pointer;
    font-weight: 800;
}

.blockArrow {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1ps solid white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.blockArrow:hover {
    background: rebeccapurple;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.blockArrow:active {
    background: chocolate;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

/*Кнопка старт/пауза*/

.start_pause {
    display: flex;
    justify-content: center;
    align-items: center;
}
#control {
    cursor: pointer;
}
.fa-play {
    color: black;
}
.fa-pause {
    color: black;
}