:root {
--font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main_space {
background-color: rgb(245, 82, 117);
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.name_traning {
    background-color: rgb(245, 82, 117);
    width: 55%;
    height: 100%;
    display: block;
}

.diskription_traning {
background-color: #0a38cf;
width: 45%;
height: 100%;
clip-path: polygon(65.80% 0.00%,100.00% 0.00%,100% 100%,2.38% 100%);
border: solid #1361f1;

}

.player {
    width: 70%;
    height: 70%;
    position: relative;
    top: 80px;
    margin: auto;
    border-radius: 60px;
}
.traning {
    position: relative;
    left: 380px;
    top: 120px;
    width: 50%;
    font-size: 24px;
    font-family: var(--font-family); 
}

.back {
    position: relative;
    top: 130px;
    left: 50px;
    -webkit-box-shadow: 0px 15px 6px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 15px 6px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 15px 6px -5px rgba(34, 60, 80, 0.2);
    background-color: #0a38cf;
    font-size: 12pt;
    border: none;
    border-radius: 30px;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    padding:11px 60px;
    text-decoration:none;
    cursor: pointer;
    font-family: var(--font-family); 
    }
    
    .back:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color: #0a38cf;
    }
    .back:active {
        position:relative;
    }
    
    .diskription {
    width: 40%;
    height: 50%;
    position: relative;
    top: 250px;
    left: 200px;
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-family: var(--font-family); 

    }
    .structure {
    color: #ffffff;
    width: 40%;
    height: 20%;
    position: relative;
    left: 300px;
    margin: auto;
    font-size: 24px;
    font-family: var(--font-family); 

    }

    .next {
    position: relative;
    top: 120px;
    left: 500px;
    -webkit-box-shadow: 0px 15px 6px -5px rgba(28, 47, 61, 0.2);
    -moz-box-shadow: 0px 15px 6px -5px rgba(28, 47, 61, 0.2);
    box-shadow: 0px 15px 6px -5px rgba(28, 47, 61, 0.2);
    background-color: rgb(245, 82, 117);
    border: none;
    border-radius: 30px;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    padding:11px 60px;
    text-decoration:none;
    cursor: pointer;
    }
    
    .next:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color: rgb(245, 82, 117);
    }
    .next:active {
        position:relative;
          }

    .imagesArea {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

        .imageSlider {
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            animation-name: Animation;
            animation-duration: 1s;
        }
        
        .activeImage {
            background: rgb(115, 126, 250);
            display: flex;
            border-radius: 60px;
        }
       
        .pointsAreaSize {
            width: 150px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 5%;
            margin-left: 275px
        }
        
        .point {
            display: flex;
            width: 12px;
            height: 12px;
            background: rgb(229, 229, 229);
            border-radius: 100px;
            cursor: pointer;
            display: none;
            
        }
        
        .point:hover {
            background: rgb(160, 167, 243);
        }
        
.modal {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: +2500px;
    width: 100%;
    height: 100%;
    background-color: #0a38cf;
    overflow: auto;
    color:#ffffff;
    clip-path: polygon(29.55% 0.00%,100.00% 0.00%,100.00% 98.78%,0.00% 100%);
   
}
    .modal_active {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #0a38cf;
        overflow: auto;
        color:#ffffff;
        animation-name:ani;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        clip-path: polygon(29.55% 0.00%,100.00% 0.00%,99.44% 100%,0.00% 100%);
            }
    @keyframes ani {
        from { 
            transform: translateX(+2500px);
        }
               to {
             transform: translateX(0px)
        }
    }
  
  /* Стили для содержимого модального окна */
  .modal-content {
    background-color: #0a38cf;
    margin: 10% auto;
    padding: 60px;
    width: 60%;
    height: 70%;
    font-size: 36px;
    font-family: var(--font-family); 
    }

    .close {
        position: relative;
        left: 950px;
        font-size: 72px;
        text-align: right;
        font-family: var(--font-family); 
    }
    .close:hover {
        cursor: pointer;
        font-family: var(--font-family); 
    }
